/* App */
.App {
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}

h3 {
  padding: 10px 0;
  margin: 0;
}

/* header-container */
.header-container {
  background-color: #e9e6e6;
  box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #020202;
}
.header-container h1 {
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
}

.header-container nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-bottom: 10px;
}
.header-container a {
  text-decoration: none;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #2020dd;
}

.header-container a:hover {
  color: #21218f;
  transform: translateY(-10px);
  border-radius: 2px;
  box-shadow: 1px 1px 2px 0px rgba(61, 61, 61, 0.5);
}
/* END header-container */

/* main-container */
.main-container {
  padding: 0 20px 0;
  background-color: #f0f0f0;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  box-shadow: 0 0 10px #000000;
        box-shadow: 0 0 10px #020202;
}

.menu-goodstable a {
  text-decoration: none;
  margin: 0 10px;
}
.menu-goodstable ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.goodstable-container p{
  margin: 10px 0;
  font-weight: bold;
}
.goodstable-table {
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;
  margin: 5px;
}
.goodstable-table th, .goodstable-table td {
  border: 1px solid #acacac;
  padding: 10px;
  text-align: center;
}
.goodstable-table th {
  background-color: #f0f0f0;
}
/* END main-container */

/* footer-container */
.footer-container {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0 0 0 20px;
  box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #020202;
}
.profit-calculator-form label{
  margin: 0 15px 0 5px;
}
.profit-calculator-form input {
  width: 45px;
  margin: 0 1px 0 5px;
  font-size: 14px;
}
.profit-calculator-form p {
  font-weight: bold;
}
/* good-cost */
.good-cost {
  margin-bottom: 30px;
}
/* good-info-fields */
.good-info-fields {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

/* additional-costs */
.additional-cost {
  margin-bottom: 30px;
}

/* profit intermediate-values */
.profit-intermediate-values {
  margin: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

/* END footer-container */